h2 {
  text-align: center;
}

.convo-card {
  margin: 10px 100px;
}

.convo-title {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.convo-name {
  position: absolute;
  margin-left: 50px;
}

.convo-read {
  margin-right: 6px;
}

.convo-message {
  margin-left: 50px;
  max-width: 300px;
  max-height: 30px;
}
