body {
  margin: 0;
  padding: 0;
}
.fishPic {
  width: 175px;
  height: 100px;
  color: #000;
}
.fishes {
  overflow: none;
  white-space: nowrap;
  background-color: #110e0e;
}
.title {
  font-size: 10vw;
  position: relative;
  text-align: center;
  color: rgb(67, 125, 138);
  font-weight: 500;
  background: linear-gradient(to bottom, #130015, #bcbcc1, #e15763);
  display: flex;
  justify-content: center;
}
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #e15763, #bcbcc1, #7b4646);
}
.main {
  width: 349px;
  height: 499px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 70px #000;
}
#cam {
  display: none;
}

.labels {
  color: rgba(255, 255, 255, 0.959);
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 59px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.inputs {
  width: 61%;
  height: 21px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 21px auto;
  padding: 11px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.buttons {
  width: 61%;
  height: 41px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #ad2222;
  font-size: 1em;
  font-weight: bold;
  margin-top: 21px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.buttons:hover {
  background: #6a45af;
}
.login label {
  color: #4f21a5;
  transform: scale(0.6);
}
.login {
  height: 459px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.signup {
  position: relative;
  width: 99%;
  height: 99%;
}
#cam:checked ~ .login label {
  transform: scale(1);
}
#cam:checked ~ .login {
  transform: translateY(-500px);
}
#cam:checked ~ .signup label {
  transform: scale(0.6);
}
